* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-comp {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-bar {
    width: 90%;
    height: 100%;
    background-color: #e0115f;
    border-radius: 3rem;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .progress {
      width: 50%;
      height: 90%;
      border-radius: 3rem;
      background-color: #fff;
      text-align: center;
      line-height: 30px;
      font-family: "Courgette", cursive;
      color: #e0115f;
      transition: 0.3s;
    }
  }
}
