* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name-comp {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .name {
    display: flex;
    justify-content: space-around;


    .input {
      height: 2rem;
      width: 65%;
      padding: 0.5rem;
      outline: none;
      border: none;
      border-bottom: 2px solid green;
      background: transparent;
      cursor: text;
      transition: all 0.2s ease-in-out;
      animation: slider 0.2s both;

      &:focus {
        border-bottom: 2.5px solid black;
      }


    }

    h4{
      color:#6d260a;
    }
  }
  .calculate {
    width: 7rem;
    height: 2rem;
    background-color: #ff2400;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    transition: all 0.5s ease;
    font-family: "Courgette", cursive;
    font-size: 15px;
    box-shadow: 1px 3px 2px 1px rgb(26, 26, 26);

    &:active {
      box-shadow: none;
      transform: translateY(5px);
    }
    &:hover {
      cursor: pointer;
      background-color: #fa8072;
    }
  }
}
